@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Roboto:wght@300;400;700&display=swap');

:root {
    --cor--primaria: #674188;
    --cor--secundaria: #FFFBF5;
    --cor-terciaria: #C3ACD0;
    --cor--hover: #C3ACD0;

    --fonte--principal: 'Krona One', sans-serif;
    --fonte--secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

body {
    background-color: var(--cor--primaria);
    color: var(--cor--secundaria);
    box-sizing: border-box;
}

.cabeçalho__menu {
    padding: 2% 0% 0% 6%;
    display: flex;
    gap: 80px;
}

.cabeçalho__menu__link {
    font-family: var(--fonte--secundaria);
    color: var(--cor-terciaria);

}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    margin: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.apresentacao-conteudo {
    width: 593px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-conteudo h1 {
    font-size: 36px;
    font-family: var(--fonte--principal);
    line-height: 56px;
    font-weight: 400;
}

.apresentacao-conteudo p {
    font-family: var(--fonte--secundaria);
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
}

#texto-redes {
    font-family: var(--fonte--principal);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
}

#links-redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#ancoras {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

#ancoras a {
    border: 1px solid var(--cor-terciaria);
    color: var(--cor--secundaria);
    width: 381px;
    text-align: center;
    padding-bottom: 32px;
    padding-top: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#ancoras a:hover {
    background-color: var(--cor--hover);
    color: var(--cor--primaria);
}

.instagram-media {
    width: 80%;
}

footer {
    font-family: var(--fonte--secundaria);
    font-size: 24px;
    font-weight: 400;
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    color: var(--cor--primaria);
}